#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

select, input, button {
  margin: 10px;
  padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

li button {
  margin-left: 10px;
  padding: 2px 5px;
  font-size: 0.8em;
}
